* 
::after
::before{
    box-sizing:border-box;
}
@font-face {
    font-family: "sf-pro-display";
    src: url("../fonts/SF-Pro-Display-Regular.woff") format("woff"),url(../fonts/SF-Pro-Display-Regular.woff2) format("woff2"),;
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "sf-pro-display";
    src: url("../fonts/SF-Pro-Display-Bold.woff") format("woff"),url(../fonts/SF-Pro-Display-Bold.woff2) format("woff2"),;
    font-style: bold;
    font-weight: bold;
}
@font-face {
    font-family: "spaceagecycillic";
    src: url("../fonts/spaceagecyrillic-regular.woff") format("woff"),url(../fonts/spaceagecyrillic-regular.woff2) format("woff2"),;
    font-style: bold;
    font-weight: bold;
}
body{
    font-family: "sf-pro-display";
    color:#FFFFFF;
}
ul{
    list-style: none;
    font-size: 18px;

}
a {
    text-decoration: none;
    color:inherit;/*наследуемый*/
}
button{
    margin: 0 auto;
    margin-top: 52px;
    font-size: 24px;
    text-transform: uppercase;
    border-style: inset;
    border-width: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    border-color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 16px;
    width: 600px;
    margin-left: 18px;
    padding-bottom: 14px;
    letter-spacing: -0.75px;
}
.button-about{
    margin-top: 50px;
    width: 299px;
    height:60px;
    font-size: 17px;
    margin-left:-1px;
    letter-spacing:0px;
}


.header{
    background-image:url("../img-cover/background1.jpg");
    /* background-position: center;     картинка всегда по центру */
    background-repeat: no-repeat;     /* не повторяется*/
    background-size:cover;         /* растянуть на все пространство*/
    height:1100px;          
    max-height: 1100px;;
    
}

.gradient {
    width: 100%;
    height: 100%;
    background: rgb(254,254,254);
}

.gradient-bottom {
    background: linear-gradient(180deg, rgba(254,254,254,0) 50%, rgb(0, 0, 0) 100%);
}

.gradient-up {
    background: linear-gradient(0deg, rgba(254,254,254,0) 50%, rgb(0, 0, 0) 100%);
}


.container{ /*базовые правила для контейнера кроме падингов*/
    max-width: 1220px;
    margin:0 auto;
    padding:0 10px;
    
}


.menu_list{
    display: flex;
    margin-top: 79px;
    margin-left: 19px;
}
.menu_item{
    margin-right: 30px;
}
.menu_item:nth-child(4) {
    margin-left: 6px;
}
.menu_item:hover{
    color:#CB0E0E;
}
.header__top{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.phone{
    display: flex;
    font-size: 24px;
    gap:22px;
    margin-right: 134px;
    margin-top: 77px;
}

@media screen and (max-width: 1049px){
    .header__top,.menu_list,.header__description{
        flex-direction: column;
        gap: 30px;
        align-items:start;
    }
    
    }

.text{
    font-family: "spaceagecycillic";
    font-size: 60px;
    padding-top: 290px;
    padding-left: 19px;
}

.text2{
    font-family:"spaceagecycillic" ;
    font-size: 110px;
    margin-top: -18px;
    margin-left: 19px;
}

.content-text{
    font-size: 24px;
    display: flex;
    gap:40px;
    padding-top: 17px;
    margin-left: 21px
}

.description-text{
    display: flex;
    justify-content: flex-end;
    gap: 60px;
    margin-left: 671px;
    margin-top: 120px;
    font-size: 14px;
}

.description-text p:first-child{
    width: 164px;
    margin-top: -8px;
    margin-right: -9px;
    line-height: 17px;
}

.description-text p:last-child{
    width:164px;
    margin-top: -8px;
    margin-right: 1px;
    line-height: 17px;
}

/* блок о нас  */
h2{
    padding-top: 100px;
    padding-left: 17px;
    padding-bottom: 100px;
    font-family: "spaceagecycillic";
    font-size: 48px;
    
}
.about__heading{
    
}
.about {
    background-image:url(../img-about-us/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 2497px;
    max-height: 2497px;

} 

.card {
    display: flex;
    gap:100px;
    margin-bottom: 143px;
    padding:6px 20px;
}
.about-title{
    padding-left:21px;
    padding-top:99px;
}



.card__description{
    display: flex;
    flex-direction: column;
    
}
.card__heading {
    font-family:"sf-pro-display" ;
    font-size: 30px;
    margin-top: -3px;
    letter-spacing:-0.1px;
}
.card__columns {
    display: flex;
    gap: 53px;
    margin-bottom: 48px;
    margin-top: 32px;
}
.card__columns li{
    width: 165px;
    text-align: left;
    font-size: 16px;
    line-height: 19px;
}
.card__columns li:nth-child(3){
    width:170px;
}
.card__hint{
    font-size:12px;
    padding:22px 0px 1px 6px;
}

.card__label{
    color: #036CCA;
    font-family:"sf-pro-display" ;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 10px;
    /* padding-bottom:31px; */
}

.card__table {
    border-bottom: 1px solid white;
}
.card__table-thead {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 10px 0px;
}
.card__table-th {
    font-size: 16px;
    font-family:"sf-pro-display" ;
    width: 105px;
    padding: 12px 0px;
}
.card__table-th:first-child {
    width: 105px;
    gap: 20px;
    
}
.card__table-th:last-child {
    width: 105px;
    gap: 20px;
    
}
.card__table-tr:first-child td {
    font-weight: 600;
    font-size: 36px;
}
.card__table-tr:last-child td {
    padding: 5px 0px 8px 0px;
}
.card__table-tr td {
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    padding:5px 0px 0px 0px;
}
.card:nth-child(2){
    margin-bottom:141px;
}
.card:last-child{
    margin-bottom: 0;
}
/* .block-description__pharagraph{
    width: 165px;
    
} */

/* блок как все происходит */

.how__box{
    text-align: center;
    padding-right: 53px;
}

.how-all-happens{
    background-image: url("../img-how-all-happens/background3.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
}
.how-all-happens__heading{
    width: 578px;
    padding-top: 99px;
    padding-left: 15px;
}


.constellation-circle{
    width:20px;
    height: 20px;
    background-color: #FFFFFF;
    border-radius: 50%;
}
.constellation__line-1{
    width: 173px;
    transform: rotate(29deg);
}
.constellation__line-2{
    width: 106px;
    transform: rotate(59deg);
}

/* блок успей забронировать */

.book{
    background-image: url("../img-booking/background4.png");
    background-position: center;     
    background-repeat: no-repeat;    
    background-size:cover; 
    height: 914px;
    max-height:914px;
    
}
.book__inner{
    display: flex;
}
.book__header{
    width: 576px;
    margin-right: 243px;
    padding-top: 98px;
    margin-left:7px;
}

.book__pharagraphs{
    display: flex;
    gap: 53px;
    font-size: 14px;
    margin-top: 101px;
    line-height: 17px;
}

.book__pharagraph{
    width:165px;

}
/*плохой вариант с position
/* .how__box {
    position: relative;
} 
 .how__box p:nth-child(1) {
    position: absolute;
    left: 0px;
    top: 0px;
}
.how__box p:nth-child(2) {
    position: absolute;
    left: 36px;
    top: 2px;
}

.how__box p:nth-child(3) {
    position: absolute;
    left: 180px;
    top: 87px;
}
.how__box p:nth-child(4) {
    position: absolute;
    left: 233px;
    top: 180px;
}

.how__box p:nth-child(4):hover {
    position: absolute;
    left: 233px;
    top: 160px;
}

.how__box p:nth-child(4):hover::before {
    position: absolute;
    top: 0px;
}
.how__box p:nth-child(5) {
    position: absolute;
    left: 250px;
    top: 250px;
}
.how__box p:nth-child(6) {
    position: absolute;
    left: 300px;
    top: 300px;
}
.how__box p:nth-child(7) {
    position: absolute;
    left: 350px;
    top: 350px;
}

.how__box p::before {
    content: "";
    position: absolute;
    left: -45px;
    top: -15px;
    display: none;
    width: 40px;
    height: 40px;
    background-color: #036CCA;
    border-radius: 50%;
}

.how__box p:hover::before {
    display: block;
    transition: all .5s;

}

.how__box p:hover {
    color: #036CCA;
    font-size: 36px;
    transition: all .5s;
} */


/**норм вариант*/

.how__box {
    text-align: center;
}

.how__box circle, 
.how__box text
{
    transition: all .5s;
    cursor: pointer;
}

.how__box g:hover circle {
    fill: #036CCA;
    r: 20px;
}

.how__box g:hover text {
    fill: #036CCA;
    font-size: 36px;
}
.how__box g:last-child:hover text {
    fill: #036CCA;
    font-size: 22px;
}
/* блок спец предложение */
.offer{
    background-image: url("../img-special-offer/фон4.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 2359px;
    max-height: 2359px;
}
.offer__title {
    width: 500px;
    padding-top: 97px;
    padding-left:18px;
}

.price{
    display:flex;
    /* justify-content: center;
    align-items: center; */
    gap:164px;
}
.price__inner{
    display:flex;
    flex-direction: column;
    margin:0px 17px;
}
.price__card{
    border: 1px solid white;
    height: 400px;
    width:499px;
    margin-bottom: 24px;
}
.price__button{
    margin:0;
    width:500px;
    font-size: 18px;
    height:60px;
    letter-spacing: -0.1px;
}
.price__discount{
    font-size: 24px;
    text-align: center;
    padding-top: 38px;
    padding-bottom: 105px;
    line-height: 29px;
}

.price__discount-action{
    color:#CB0E0E;
}
.price__old-price{
   margin-left:350px;
   margin-bottom: 15px;
}
.price__img{
    position: relative;
    margin-bottom: -20px;
}
.price__current-price{
    font-size: 48px;
    text-align: center;
    margin-bottom: 38px;
}
.service{
    display: flex;
}
.service__heading{
    padding-top:141px;
    padding-left:11px;
}
.service-list{
    list-style-type: disc;
    list-style-type: none;
    margin:25px 0px 0px 20px;
}
.service-add{
    font-size:24px;
    margin-left:18px;
}
.service-button{
    padding: top 88px;
    font-size: 18px;
    padding-left: 113px;
    letter-spacing: 1px;

}
.service-button button{
    width:500px;
    margin-left:-2px;
    font-size: 18px;
    height: 59px;
}

.service-item{
    font-size:24px;
    letter-spacing: 0.05px;
    position: relative;
    line-height: 31px;
    margin:0px 0px 0px 32px;
}
.service-item::before{
    content:"";
    position:absolute;
    left:-35px;
    top:6px;
    display: block;
    width:20px;
    height: 20px;
    border-radius: 50px;
    background-color: #FFFFFF;
}
.service-img{
    padding-top: 101px;
    padding-left: 306px;
    margin-bottom: -74px;
}
.gallery{
    display: flex;
    margin-top: 227px;
    margin-bottom: 50px;
    border:1px solid white;
    
    padding:99px 0px 101px 0px;
}
.gallery-description{
    font-size: 24px;
    font-family:"spaceagecycillic" ;
    text-align: center;
    
}
.gallery-left{
    width:100px;
}
/* блок контакты */
.contacts-guarantees{
    background-image: url(/img-contact/фон.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 810px;
    max-height: 810px;
}
.card-contacts-guarantees{
    display: flex;
    justify-content: center;
    align-items:center;
    gap:100px;
    padding-bottom: 50px;
}
.contacts {
    width: 500px;
}
.contacts-button{
    width: 500px;
}
.text-input{
    width:500px;
    border:none;
    border-bottom:1px solid rgb(37, 24, 24);
    background-color: rgba(0,0,0,0.1);
    padding: 10px;

}
input::placeholder{
 font-size: 14px;   
 font-family: "sf-pro-display";
 color:#FFFFFF;
}
.guarantees{
    width: 600px;
    margin-top:50px;
}
.img-guarentees{
    padding-left: 152px;
}
/* футер */
.footer{
    background-image: url(/img-contact/kosmos-art-planety-638272.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 430px;
}
.footer-inner{
    display: flex;
    justify-content: end;
    margin-bottom: 147px;
    padding-top:50px;
    height: 182px;
}
.rules{
    width:165px;
    margin-right: 52px;
}
.rules-pharagrahp{
    margin-bottom: 40px;
}
 .navigation .menu_list{
    display:block;
    width: 115px;
    margin-right: 102px;
    line-height: 30px;
    margin-top: -2px;
}
.info{
    display: block;
    margin:-2px;
}
.info .menu_item{
    line-height: 30px;
    
}

/***
1 - id
1 - class, псевдоклассы
1 - element (tag), псевдоэлементы
*/

/*011*/
div.container {
}

/*101*/
div#container {

}

/*003*/
div > p::before {

}


/*112*/
ul#primary-nav li.active {

}

/*022*/
ul[class="primary-nav"] + li:checked {

}

/*013*/
nav > a:hover::before {

}
